%inner__style {
    max-width: 1700px;
    height: 100%;
    margin: 0 auto;
}
#wrapper {
    .header {
        min-width: 320px;
        background: rgb(110,171,255);
        background: linear-gradient(214deg, rgba(110,171,255,1) 0%, rgba(182,162,255,1) 43%, rgba(122,255,213,1) 100%);
        // separator 
        .header__navigation {
            width: 100%;
            height: 100px;
            font-family: 'Open Sans', sans-serif;
             // separator 
            .header__inner {
                @extend %inner__style;
                display: flex;
                justify-content: space-between;
                align-items: center;
                // separator 
                .header__logo {
                    font-family: 'Merriweather Sans', sans-serif;
                }
                .header__list {
                    .header-list__row {
                        display: flex;
                        list-style: none;
                        padding: 0;
                        gap: 30px;
                        font-weight: bold;
                    }
                }
                .header__btn {
                    .header-btn__style {
                        background-color: rgba(27, 37, 52, 1);
                        padding: 12px;
                        border-radius: 17px;
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                    }
                }
            }
        }
        .header__headline {
            width: 100%;
            // separator 
            .headline__inner {
                @extend %inner__style;
                display: flex;
                flex-direction: column;
                align-items: center;
                // separator 
                .headline__title {
                    text-align: center;
                    flex-basis: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: 'Open Sans', sans-serif;
                    // separator 
                    .headline-title__size {
                        font-size: 80px;
                        max-width: 1200px;
                        font-family: 'Merriweather Sans', sans-serif;
                        // separator 
                        .headline-title__illuminated {
                            color: rgb(255, 255, 255);
                        }
                    }
                    .headline-title__style {
                        background-color: rgb(255, 255, 255);
                        border-radius: 17px;
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                        width: 200px;
                        padding: 15px;
                        margin: 0px 0px 20px 0px;
                        align-self: center;
                    }
                }
                .headline__image {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}