
#wrapper {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background: rgb(197,251,254);
    background: linear-gradient(231deg, rgba(197,251,254,0.8) 0%, rgba(202,200,255,0.8) 47%, rgba(247,189,255,0.8) 100%);
}
.first-header {
    min-width: 200px;
    padding: 0px 20px 0px 20px;
    transition-duration: 0.5s;
}
.bounding-box {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100px;
}
.logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.logo img{
    max-width: 100%;
    height: 30px;
    margin: 20px;
}
.navigation {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
}
.ul-nav {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
    margin: 0px 20px 0px 20px;
    padding: 0;
    flex-wrap: wrap;
}
.ul-nav li {
    margin: 0px 20px 0px 20px;
}
.burger {
    display: none;
}
.get-a-quote {
    border: solid 3px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 0.50em;
}
.second-header {
    padding: 0px 20px 0px 20px;
    min-width: 200px;
    margin: 100px 20px 100px 20px;
}
.bounding-box1 {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
}
.content {
    display: flex;
    flex-grow: 1;
    flex-basis: 100px;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.content h1 {
    font-size: 70px;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}
.content p {
    font-size: 25px;
    color: rgb(61, 61, 61);
}
.button-get-started {
    max-width: 150px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    color: #ffffff; 
    background-color: #994aff;
    border: 0;
    border-radius: 0.50em;
    font-weight: bold;
}
.illustration {
    display: flex;
    flex-grow: 1;
    flex-basis: 100px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.illustration img {
    max-width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
}
.intro {
    min-width: 200px;
}
.bounding-box2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
}
.section-title {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.section-title h2 {
    font-size: 50px;
    margin: 0;
}
.section-title p {
    color:#994aff;
    font-family: 'Overpass', sans-serif;
}
.list-of-privileges {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 400px;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
.item1 {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    padding: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    border: solid 5px #fcd7df;
    text-align: center;
}
.item1 img {
    max-width: 100%;
    margin: 20px;
}
.item2 {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    padding: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    border: solid 5px #c9f3e2;
    text-align: center;
}
.item2 img {
    max-width: 100%;
    margin: 20px;
}
.item3 {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    padding: 30px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    border: solid 5px #f2d5ba;
    text-align: center;
}
.item3 img {
    max-width: 100%;
    margin: 20px;
}
.about {
    min-width: 200px;
    margin: 40px 0px 40px 0px;
}
.bounding-box3 {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}
.about-content {
    display: flex;
    flex-basis: 100px;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
}
.about-content h2 {
    font-size: 50px;
    margin: 50px 50px 20px 50px;
}
.about-content p {
    margin: 0px 50px 0px 50px;
    color:rgb(119, 119, 119);
}
.button-know-more {
    max-width: 150px;
    padding: 10px;
    color: #ffffff; 
    background-color: #994aff;
    border: 0;
    border-radius: 0.50em;
    font-weight: bold;
    margin: 20px 50px 50px 50px
}
.about-photo {
    display: flex;
    flex-grow: 1;
    flex-basis: 100px;
    color: white;
    flex-direction: column;
    justify-content: center;
}
.about-photo img {
    max-width: 100%;
}
.service {
    min-width: 200px;
    background: rgb(197,254,205);
    background: linear-gradient(231deg, rgba(197,254,205,0.8) 0%, rgba(200,200,255,0.8) 47%, rgba(255,189,249,0.8) 100%);
}
.bounding-box4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
}
.service-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 250px;
    padding: 0px 20px 0px 20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}
.service-title h2 {
    font-size: 45px;
    margin: 0px 0px 20px 0px;
}
.service-title p {
    color:#994aff;
    font-size: 20px;
}
.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.s-item-img {
    max-width: 100%;
    align-items: center;
}
.arrow-img {
    max-width: 15%;
    height: 20px;
}
.service-item1 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    margin: 30px 30px 0px 30px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.288);
    background-color: white;
}
.service-item1 h2 {
    margin: 20px;
}
.service-item1 p {
    margin: 20px;
    color: rgb(39, 39, 39);
}
.service-item1 img {
    margin: 20px;
}
.service-item2 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.288);
    background-color: white;
}
.service-item2 h2 {
    margin: 20px;
}
.service-item2 p {
    margin: 20px;
    color: rgb(39, 39, 39);
}
.service-item2 img {
    margin: 20px;
}
.service-item3 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.288);
    background-color: white;
}
.service-item3 h2 {
    margin: 20px;
}
.service-item3 p {
    margin: 20px;
    color: rgb(39, 39, 39);
}
.service-item3 img {
    margin: 20px;
}
.service-item4 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.288);
    background-color: white;
}
.service-item4 h2 {
    margin: 20px;
}
.service-item4 p {
    margin: 20px;
    color: rgb(39, 39, 39);
}
.service-item4 img {
    margin: 20px;
}
.service-item5 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.288);
    background-color: white;
}
.service-item5 h2 {
    margin: 20px;
}
.service-item5 p {
    margin: 20px;
    color: rgb(39, 39, 39);
}
.service-item5 img {
    margin: 20px;
}
.service-item6 {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 400px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(46, 46, 46, 0.288);
    background-color: white;
    
}
.service-item6 h2 {
    margin: 20px;
}
.service-item6 p {
    margin: 20px;
    color: rgb(39, 39, 39);
}
.service-item6 img {
    margin: 20px;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bounding-box-five {
    flex-basis: 1142px;
    color:rgb(90, 90, 90);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
}
.bounding-box-five p {
    color:rgb(129, 129, 129);
}
.footer-one, .footer-three, .footer-two, .footer-gour {
    margin: 10px;
}
@media screen and (max-width: 1250px) {
    .bounding-box1 {
        flex-direction: column-reverse;
    }
    .bounding-box3 {
        flex-direction: column;
    }
    .about-photo {
        align-items: center;
    }
    .about-photo img {
        max-width: 80%;
    }
    .about-content {
        align-items: center;
        text-align: center;
    }
    .about-content h2 {
        font-size: 40px;
    }
    .illustration {
        align-items: center;
    }
    .illustration img {
        max-width: 70%;
    }
    .content {
        align-items: center;
        text-align: center;
    }
    .content h1 {
        font-size: 50px;
    }

}
@media screen and (max-width: 980px) {
    body.lock {
        overflow: hidden;
    }
    .ul-nav {
        position: absolute;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 20px;
        width: 100%;
        min-height: 30vh;
        padding: 20px 0px 20px 0px;
        right: 0;
        top: -100%;
        margin: 0;
        transition-duration: 1s;
    }
    .ul-nav.active {
        top: 100px;
        transition-duration: 1s;
    }
    .burger {
        display: block;
    }
    .first-header.bckgr {
        background-color: rgb(255, 255, 255);
        transition-duration: 0.5s;
    }
}

@media screen and (max-width: 600px) {
    .about-photo {
        position: absolute;
        opacity: 0.2;
    }
    .about-photo img {
        max-width: 100%;
    }
    .illustration {
        position: absolute;
        opacity: 0.2;
        z-index: 1;
    }
    .illustration img{
        max-width: 100%;
    }
    .section-title h2 {
        font-size: 35px;
    }
    .service-title h2 {
        font-size: 30px;
    }
    .second-header {
        margin: 100px 0px 100px 0px;
    }
}
@media screen and (max-width: 400px) {
    .content h1 {
        font-size: 35px;
    }
    .content p {
        font-size: 17px;
    }
/*     .s-item-img {
        max-width: 75%;
        height: 70px;
    } */
}