#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer, #wrapper .main .download-section .fifth-limitation, #wrapper .main .become-a-partner .fourth-limitation, #wrapper .main .fast-start .thrid-limitation, #wrapper .header .second-section-of-the-header .second-limitation, #wrapper .header .first-section-of-the-header .first-limitation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 1500px;
      flex-basis: 1500px;
  margin: 0px 20px 0px 20px;
}

#wrapper .main .fast-start .thrid-limitation .fast-start-points .fourth-point, #wrapper .main .fast-start .thrid-limitation .fast-start-points .thrid-point, #wrapper .main .fast-start .thrid-limitation .fast-start-points .second-point, #wrapper .main .fast-start .thrid-limitation .fast-start-points .first-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Cabin", sans-serif;
}
#wrapper .main .fast-start .thrid-limitation .fast-start-points .fourth-point p, #wrapper .main .fast-start .thrid-limitation .fast-start-points .thrid-point p, #wrapper .main .fast-start .thrid-limitation .fast-start-points .second-point p, #wrapper .main .fast-start .thrid-limitation .fast-start-points .first-point p, #wrapper .main .fast-start .thrid-limitation .fast-start-points .fourth-point h3, #wrapper .main .fast-start .thrid-limitation .fast-start-points .thrid-point h3, #wrapper .main .fast-start .thrid-limitation .fast-start-points .second-point h3, #wrapper .main .fast-start .thrid-limitation .fast-start-points .first-point h3 {
  margin: 0;
}

#wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .contactless-payment, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .quality-control, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .feedback, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .reporting, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .purchase-history {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0.5em;
  -webkit-box-shadow: 5px 5px 10px #ebebeb;
          box-shadow: 5px 5px 10px #ebebeb;
  font-family: "Cabin", sans-serif;
}
#wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .contactless-payment img, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .quality-control img, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .feedback img, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .reporting img, #wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits .purchase-history img {
  width: 27px;
  height: 30px;
}

#wrapper .main .fast-start .thrid-limitation .fast-start-points .fourth-point .fourth-point-image, #wrapper .main .fast-start .thrid-limitation .fast-start-points .thrid-point .thrid-point-image, #wrapper .main .fast-start .thrid-limitation .fast-start-points .second-point .second-point-image, #wrapper .main .fast-start .thrid-limitation .fast-start-points .first-point .first-point-image {
  margin: 20px;
}
#wrapper .main .fast-start .thrid-limitation .fast-start-points .fourth-point .fourth-point-image img, #wrapper .main .fast-start .thrid-limitation .fast-start-points .thrid-point .thrid-point-image img, #wrapper .main .fast-start .thrid-limitation .fast-start-points .second-point .second-point-image img, #wrapper .main .fast-start .thrid-limitation .fast-start-points .first-point .first-point-image img {
  background-color: #F7F8FD;
  padding: 10px;
  border-radius: 0.5em;
}

#wrapper .main .fast-start .thrid-limitation .fast-start-points .fourth-point .fourht-point-text, #wrapper .main .fast-start .thrid-limitation .fast-start-points .thrid-point .thrid-point-text, #wrapper .main .fast-start .thrid-limitation .fast-start-points .second-point .second-point-text, #wrapper .main .fast-start .thrid-limitation .fast-start-points .first-point .first-point-text {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

#wrapper {
  -webkit-animation-name: head-site;
          animation-name: head-site;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
#wrapper .header {
  min-width: 300px;
}
#wrapper .header .first-section-of-the-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-shadow: 0px 0px 20px #e6e6e6;
          box-shadow: 0px 0px 20px #e6e6e6;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
#wrapper .header .first-section-of-the-header .first-limitation {
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper .header .first-section-of-the-header .first-limitation .logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fredoka One", cursive;
  color: #446DF6;
}
#wrapper .header .first-section-of-the-header .first-limitation .logo-header h1 {
  margin: 0;
}
#wrapper .header .first-section-of-the-header .first-limitation .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#wrapper .header .first-section-of-the-header .first-limitation .navigation .ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #72727E;
  font-family: "Cabin", sans-serif;
  padding: 0;
}
#wrapper .header .first-section-of-the-header .first-limitation .navigation .ul-nav li {
  margin: 5px 20px 5px 20px;
}
#wrapper .header .first-section-of-the-header .first-limitation .burger {
  display: none;
}
#wrapper .header .second-section-of-the-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
#wrapper .header .second-section-of-the-header .second-limitation .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 20px;
  text-align: left;
  font-family: "Cabin", sans-serif;
}
#wrapper .header .second-section-of-the-header .second-limitation .header-text .button {
  background-color: #446DF6;
  width: 180px;
  padding: 15px 0px 15px 0px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  border-radius: 0.5em;
  font-weight: bold;
}
#wrapper .header .second-section-of-the-header .second-limitation .image-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
#wrapper .header .second-section-of-the-header .second-limitation .image-header img {
  max-width: 100%;
}
#wrapper .main {
  min-width: 300px;
}
#wrapper .main .fast-start {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrapper .main .fast-start .thrid-limitation .fast-start-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
#wrapper .main .fast-start .thrid-limitation .fast-start-image img {
  max-width: 100%;
}
#wrapper .main .fast-start .thrid-limitation .fast-start-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wrapper .main .become-a-partner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px 20px 0px;
}
#wrapper .main .become-a-partner .fourth-limitation {
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#wrapper .main .become-a-partner .fourth-limitation .partnership-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 20px 0px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  text-align: center;
  font-family: "Cabin", sans-serif;
}
#wrapper .main .become-a-partner .fourth-limitation .partnership-information p {
  max-width: 700px;
  margin: 0px 20px 0px 20px;
}
#wrapper .main .become-a-partner .fourth-limitation .partnership-information h2 {
  margin: 20px;
}
#wrapper .main .become-a-partner .fourth-limitation .enumeration-of-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#wrapper .main .become-a-partner .fourth-limitation .button-for-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}
#wrapper .main .become-a-partner .fourth-limitation .button-for-partners .button-parter {
  background-color: #446DF6;
  text-decoration: none;
  padding: 15px;
  width: 180px;
  text-align: center;
  color: white;
  border-radius: 0.5em;
  font-weight: bold;
  font-family: "Cabin", sans-serif;
}
#wrapper .main .download-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Cabin", sans-serif;
  color: white;
  margin: 40px 0px 40px 0px;
}
#wrapper .main .download-section .fifth-limitation {
  border-radius: 1.5em;
  background-color: #688bff;
}
#wrapper .main .download-section .fifth-limitation .download-links {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}
#wrapper .main .download-section .fifth-limitation .download-links .download-links-text-gplay-apps img {
  margin: 10px 10px 10px 0px;
}
#wrapper .main .download-section .fifth-limitation .image-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
#wrapper .main .download-section .fifth-limitation .image-download img {
  max-width: 100%;
}
#wrapper .footer {
  min-width: 300px;
}
#wrapper .footer .first-section-of-the-header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #141B41;
  color: #ffffff;
}
#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer {
  padding: 10px;
}
#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer .logo-header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Fredoka One", cursive;
}
#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer .logo-header-footer h1 {
  margin: 0px 20px 0px 20px;
}
#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer .navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer .navigation-footer .ul-nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-family: "Cabin", sans-serif;
  padding: 0;
}
#wrapper .footer .first-section-of-the-header-footer .first-limitation-footer .navigation-footer .ul-nav-footer li {
  margin: 5px 20px 5px 20px;
}

@media screen and (max-width: 1080px) {
  .first-limitation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .second-limitation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .second-limitation .header-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second-limitation .header-text h1, .second-limitation .header-text p {
    max-width: 450px;
    text-align: center;
  }

  .image-header img {
    max-height: 500px;
  }

  .thrid-limitation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thrid-limitation .fast-start-image img {
    max-height: 600px;
  }
  .thrid-limitation .fast-start-points {
    font-size: 14px;
  }

  .fifth-limitation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .fifth-limitation .download-links-text {
    max-width: 500px;
  }

  .first-limitation-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .first-limitation-footer .ul-nav-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  #wrapper .header .first-section-of-the-header .first-limitation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wrapper .header .first-section-of-the-header .first-limitation .logo-header {
    font-size: 0.7em;
  }
  #wrapper .header .first-section-of-the-header .first-limitation .navigation .ul-nav {
    position: absolute;
    right: 0;
    top: -100%;
    background-color: #e4e5f3;
    width: 100%;
    min-height: 40vh;
    margin: 0;
    padding: 20px 0px 20px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    color: black;
    font-weight: bold;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  #wrapper .header .first-section-of-the-header .first-limitation .navigation .ul-nav.active {
    top: 67px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  #wrapper .header .first-section-of-the-header .first-limitation .burger {
    display: block;
  }

  #wrapper .header .first-section-of-the-header.bckgr {
    background-color: #e4e5f3;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}
@-webkit-keyframes head-site {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes head-site {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}